services:
  php:
    build: .
    container_name: moviz_app
    ports:
      - target: 80
        published: ${HTTP_PORT:-80}
        protocol: tcp
      # HTTPS
      - target: 443
        published: ${HTTPS_PORT:-443}
        protocol: tcp
      # HTTP/3
      - target: 443
        published: ${HTTP3_PORT:-443}
        protocol: udp
    volumes:
      - ./:/app/public

  database:
    image: mariadb:${MARIADB_VERSION}
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      # You should definitely change the password in production
      MARIADB_RANDOM_ROOT_PASSWORD: "true"
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 5s
      retries: 5
      start_period: 60s
    ports:
      - "3306"
    volumes:
      - database_data:/var/lib/mysql:rw

  phpmyadmin:
    image: phpmyadmin:5.2.2
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
    ports:
      - "4216:80"
    depends_on:
      - database

volumes:
  database_data: